[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

[workspace]
members = ["ashley", "ashley-derive", "codegen", "ashley-lsp", "ashley-db", "ashley-data-structures"]
resolver = "2"

